body {
    background-color: #DFE8EE;
    color: #191923;
    text-align: center;
}
button { 
    color: #191923;
}

/* IDs */
#debugSettings {
    margin-top: 30em;
}
#errorAlert {
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    color: black;
    display: none;
    margin: 2px;
    padding: 2px 8px;
}
#gameboard {
    color: #FFF9FB;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 1em auto;
}
#questionScreen, #settingsScreen, #userInputScreen {
    background-color: #003D8C;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #00000090;
    box-sizing: border-box;
    color: white;
    margin: 1em auto;
    max-width: 700px;
    padding: 20px;
}
#questionScreen {
    font-size: 1.8em;
}
#userQuestions {
    border-radius: 10px;
    font-size: 1.05em;
    width: 100%;
}

/* Classes */
h1.categoryLabel {
    margin: 0em;
    padding: 7%;
}
.categorySquare {
    background-color: #003D8C;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #00000090;
    display: grid;
}
.column {
    display: grid;
    grid-gap: 2px;
}
h1.questionLabel {
    margin: 0em;
    padding: 7%;
}
.questionSquare {
    align-items: stretch;
    background-color: #003D8C;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #00000090;
    display: grid;
    height: 70px;
    justify-content: stretch;
    padding: 0em;
}
.questionSquare:hover, .categorySquare:hover {
    border: 3px solid black;
    box-shadow: 4px 4px 1px #00000095;
    transform: scale(1.1);
    z-index: 5;
}
